*{
    font-family: Lato, Arial, Helvetica, sans-serif;
}
h3 {
    text-align: left;
    margin: 0;
}
button{
    cursor: pointer;
    outline: none;
}
input{
    outline: none;
}
body {
    margin: 0;
    padding: 0px;
    background-color: rgb(237, 240, 241);
}

.center {
    width: 100%;
    margin: auto;
    max-width: 900px;
    min-height: 200px;
    padding-top: 100px;

}

.right{
    width: 35%;
    vertical-align: top;
    display: inline-block;
}
.left{
    width: 65%;
    vertical-align: top;
    display: inline-block;
    float: left;
}
.right-container {
    background-color: white;
    box-shadow: 2px 2px 10px 0 lightsteelblue;
    border-radius: 5px 5px 5px 5px;



    margin: 5px;
    padding: 0px;
}
.left-container {
    background-color: white;
    box-shadow: 2px 2px 10px 0 lightsteelblue;
    border-radius: 5px 5px 5px 5px;


    margin: 5px;
    padding: 0px;
}

@media (max-width: 500px) {
    .right, .left {
        width: 100%;
        min-width: 340px;
    }
}
.content {
    padding: 10px;
    border-bottom: solid gainsboro 1px;
    text-align: center;
}
.item {
    padding: 5px 10px 8px 10px;
    border-bottom: solid gainsboro 1px;
    text-align: center;
}

.item-close{
    height: 0;
    transition: height 1s linear;
}
.row {
    display: inline-flex;
    width: 100%;
    height: 100%;
}
.field {
    border: 1px solid lightgray;
    border-right: 0px;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 2px 0 0 white;
    font-size: 14px;
/**/
    display: inline-block;
    padding: 7px 0 7px 14px;
    margin: 0px;
    flex: 1 0 auto;
}
.add {
    border: 0px;
    background-color: #2396e6;
    color: #FFF;
    border-radius: 0 3px 3px 0;
    box-shadow: 0 3px 0 0 #3d65c8;
    font-weight: bold;
    font-size: 14px;
/**/
    width: 100px;
    height: 30px;
    margin: 0px;
    padding: 7px 0 7px 0;
}
.add:hover{
    background-color: #218dd7;
}
.name-part, .quantity-part, .delete-part{
    display: inline-block;
    flex: 1 0 auto;
    vertical-align: middle;
}
.name-part{
    flex: 0 1 auto;
    width: 30%;
    min-width: 100px;
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    padding-top: 4px;
}
.quantity-part{
}
.counter{
    font-size: 14px;
    text-align: center;
    background-color: rgb(237, 240, 241);
    width: 30px;
    height: 20px;
    border: 0px;
    border-radius: 3px;
}
.minus, .plus, .bought, .delete, .unbought{
    outline: none;
    height: 21px;
    border: 0px;
    padding: 0;
}
.minus, .plus {
    font-size: 14px;
    color: white;
    width: 21px;
    border-radius: 20px;
}
.minus{
    background-color: #ff5663;
    box-shadow: 1px 2px 0 0 #9f3c41;
}
.minus:not(.dissable):hover{
    background-color: #e84f5a;
}
.plus{
    background-color: #39ff91;
    box-shadow: 1px 2px 0 0 #22ba74;
}
.plus:not(.dissable):hover{
    background-color: #34e783;
}

.dissable{
    opacity: 0.5;
    cursor: default;
}

.delete-part{
    text-align: right;
}
.delete, .bought, .unbought{
    border-radius: 3px;
}
.bought, .unbought{
    background-color: rgb(228, 231, 232);
    color: #858585;
    box-shadow: 0px 2px 0 0 #b4b7b8;
    padding: 0 10px 0 10px;
}
.bought:hover, .unbought:hover{
    background-color: rgb(199, 202, 203);
}
.unbought {
    width: 89px;
}
.delete{
    background-color: #ff5663;
    color: white;
    box-shadow: 0px 2px 0 0 #9f3c41;
    padding: 0 8px 0 8px;
}
.delete:hover{
    background-color: #e84f5a;
}
.left-item, .already-bought{
    display: inline-block;
    font-size: 12px;
    background-color: rgb(237, 240, 241);
    padding: 5px;
    margin: 2px;
    border-radius: 3px;
}
.left-quantity, .bought-quantity{
    padding: 0 4px 0 4px;
    display: inline-block;
    color: white;
    background-color: orange;
    border-radius: 20px;
}
.already-bought, .bought-quantity{
    text-decoration-line: line-through;
}

.badge{
    position: fixed;
    left: 15px;
    bottom: -55px;
    border-radius: 6px 6px 0 0;
    padding: 10px;
    color: white;
    background-color: blueviolet;
    transition: bottom 1s ease;
}

.badge h3{
    text-align: center;
}

.badge:hover{
    bottom: 0px;
    background-color: #3422e2;
    transition: bottom 1s ease, background-color 1s ease;
}

.create-by{
    font-size: 12px;
    text-align: left;
}

@media print{
    .buy-list-bage{
        display: none;
    }
    .badge{
        bottom: 0px;
        background-color: white;
        color: blueviolet;
        border: solid blueviolet 2px;
    }
}

.tooltip{
    position: relative;
    display: inline-block;
}
.tooltip::before {
    font-size: 14px;
    font-weight: normal;
    background-color: #27a8ff;
    border-radius: 10px;
    color: white;
    content: attr(data-tooltip);
    visibility: hidden;
    opacity: 0;
    /*transition: all 0.5s ease;*/
    padding: 3px 5px 3px 5px;


    position: absolute;
    bottom: 0%;
    left: 50%;
    margin-left: -50px;
    width: 90px;


}
.tooltip:hover::before{
    opacity: 0.9;
    visibility: visible;
    bottom: 110%;
    transition: all 1s ease 0.5s;
}

.hide{
    visibility: hidden;
}
.none{
    display: none;
}
.already-bought-name{
    display: inline;
}

.item-template, .already-bought-template, .upto-buy-template{
    display: none;
}

